/*** Popups is supposed to be an addition to a base application
     body is not in the domain of 'addition' to application
body {
	margin:0;
    font-family:Helvetica, Verdana;
	background-color:rgba(150, 150, 150, 0.75);

}
*/

[class*="closeButton"] {
	background-image:url('./images/stop_button.png');
	background-size: 100%;
}

[class*="closeButton"]:hover {
	background-image: url("./images/stop_button-glow.png");
}

[class*="closeButton"]:active {
	background-image: url("./images/stop_button_pressed.png");
}

.inFrame {
		visibility:visible;padding:0px;border-color:black;border-width:2px;
		border-style:solid;z-index:100;position:absolute;
		left:1024;top:25%;width:25%;height:25%
	}
	.inFrameCapt {
		visibility:visible;padding:0px;
		background-color:aquamarine;
		border-width:0px;
		border-style:solid;
		z-index:100;
		position:relative;
		color :black;
		left:0;top:0;width:100%;height:25px
	}



.consoleOutputContent{
 	background-color:#000000a0;
	height:80vh;
	min-width:60em;
	max-width:80vw;
	position:relative;
	left:0;
	right:0;
	top:0;
	bottom:-50;
	overflow:auto;
}

.consoleinputContent{
	width:100%;
	border:1px solid black;
	padding-left:1em;
	padding-right:1em;

}

.consoleinputSender{
}
.outputSpan{
	white-space:pre-wrap;
	word-wrap:break-word;
	/*word-break: break-all;   excessively long words
	 */
}



[class^="captionButton"] {
	/*background-color: #122f31;*/
        color : gold;
        border-radius : 25%;
       	width : 1.5em;
	height:1.5em;
	text-align:center;
	display:inline-block;     
	float:right;   

}

.frameClose {
	background-color: #8e1717;
    color : gold;
    border-radius : 50%;
    width : 1.5em;
	/*height:1.1em;*/
	text-align:center;
	display:none;
	float:right;   
	
}


[class^="frameContainer"] {
	visibility:visible;
	padding:0px;border-color:black;border-width:2px;
	border-style:solid;z-index:100;position:absolute;
	/*left:1024;
	top:25%; */
	display:absolute;
	width:max-content;
	height:max-content;
	/*background-color:rgba(150, 150, 150, 0.75);*/
	background: #566268;
	/*color:rgb(33, 0, 29);*/
	color: #FFFFFF;
	border-radius:10px;
	/*padding:25px;*/
}

[class^="formContainer"] {
	visibility:visible;
	padding:0px;border-color:black;border-width:2px;
	border-style:solid;z-index:100;position:relative;
	top:25%;
	width:max-content;
	height:max-content;
	background-color:#566268;
	color:rgb(90, 245, 0);
	border-radius:10px;
	/*padding:25px;*/
}

[class^="frameCaption"] {
	padding:0px;
	background-color:#0275d8;
	border-width:0px;
	border-style:solid;
	color: #f7f7f7;    ;
	left:0;top:0;
	padding-left:0.5em;
	height:1.5em;
	font-size:150%;
	line-height:1.5em;
    border-color: #9c9b9b;
    border-radius: 10px 0 0;
}

[class^="frameContent"] {
	margin:5px;
	padding:0.5em;
}

.frameForm {
	margin-block-end:1.5em;
}

.fillContent{
	width:100%;
	height:100%;
}

.popupCancel {
	float:right;
	width:65px;
	/*margin-top:1.5em;*/
	margin-left:0.6em;
}
.popupOkay {
	float:right;
	width:65px;
	/*margin-top:1.5em;*/
	margin-left:1.5em;
}


.popupInputField {
	/*margin-left:1.5em;
	margin-top:1.5em;*/
	font-size:200%;
}

.listItem {

}
.listItem.selected {
	background-color:rgb(57, 47, 79);
}
.listItem.selected:hover {
	background-color:darkolivegreen;
}
.listItem:hover {
	background-color:blue;
}

.fieldUnit:nth-child(odd) .field-unit:nth-child(odd){
    background:#888;
}
.fieldUnit:nth-child(even) .field-unit:nth-child(even){
    background:#666;
}
.fieldUnit {
	line-height:2em;
	border-bottom-width: 2px;
	border-bottom-style:solid;
	border-bottom-color:black;
    display: flex;
    align-items: center;
    /*box-shadow: 0 0 10px rgba(64, 224, 208, 0.493);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.893);
	border-radius:50px;
	padding-left:1em;
	padding-right:1em;
	color: rgb(247, 234, 180);
	text-shadow: 1px 1px 4px rgb(2, 3, 3);
}

.field-unit:nth-child(odd){
    background:#888;
}
.field-unit:nth-child(even){
    background:#666;
}

.field-unit {
	line-height:2em;
	border-bottom-width: 2px;
	border-bottom-style:solid;
	border-bottom-color:black;
    display: flex;
    align-items: center;
    /*box-shadow: 0 0 10px rgba(64, 224, 208, 0.493);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.893);
	border-radius:50px;
	padding-left:1em;
	padding-right:1em;
}

.field-unit-span {
	width:6em;
	text-align:right;
}

.text-field {
	/*background-color:#777;*/
	color:#fd3;
	width:12em;
	text-align:right;
	border-radius:10px;
	
}

.rightJustify {
	margin-left: auto;
	float:right;
}

.checkOption{
	height:1em;
}
.textInputOption{
	vertical-align: middle;
	text-align:right;
}
.text-value {
	/*text-align:right;&*/
	margin-left:auto;
}

.buttonOption{
	border-radius:10px;
	color:#93c9da;
	background: linear-gradient(rgb(3, 3, 3), rgb(76, 76, 76), #333 );

}

.knobClosed{
	background-color:green;
	width:2em;
	border-radius:50%;

	color:white;
	border-radius: 50%;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.knobOpen{
	background-color:goldenrod;
	width:2em;
	border-radius:50%;

	color:white;
	border-radius: 50%;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.listItemLabel{
	background-color:#aaa;

}

.listSubList{
	list-style:none;
}
span {
	user-select: none;
}
.listThings{
	list-style:none;
	display:inline-block;
}

.listFirstLevel{
	list-style:none;
}
.groupEditButton{

}
.activityEditButton {

}
.inputEditButton {
}

.loginUsername {
    background-color: teal;
    text-color:white;
    color:white;
                text-align:center;
}
.loginPassword {
    -webkit-text-security:circle;
    background-color: teal;
    text-color:white;
    color:white;
    text-align:center;
}

button {
	color:#5bc0de;
}

.button{
    /* font-size: 100%; */
	width:max-content;
    border-radius: 10px;
	border-width:3px;
    background: linear-gradient(rgb(3, 3, 3), rgb(76, 76, 76), #333 );
    /* padding: 0px; */
     border-style: outset; 
    padding-right: 2px;
    padding-bottom: 2px;
}

[class^="button-"]{
    /* font-size: 100%; */
	width:max-content;
    border-radius: 10px;
    background: linear-gradient(rgb(3, 3, 3), rgb(76, 76, 76), #333 );
    /* padding: 0px; */
    /* border-style: outset; */
    padding-right: 2px;
    padding-bottom: 2px;
	color:white;
}

[class^="button-"].pressed{
	border-style: inset; 
    /* font-size: 100%; */
    /*background: linear-gradient(rgb(53, 53, 53), rgb(176, 176, 176), #444 );*/
}

.button.pressed {
    /*background: linear-gradient(rgb(53, 53, 53), rgb(176, 176, 176), #444 );*/
	
}

.info {
    color: #5bc0de;
}
.success {
    color: #28a745;
}
.danger {
    color: #d9534f;
}
.warn {
    color: #f0ad4e;
}
[class^="button"]:hover {
        border-color:#0dd;
}
[class^="buttonInner"]:hover {
        
}
[class^="buttonInner"]{
    /* border-radius: 10px; */
    /* background: lightgray; */
    font-weight: bold;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px 25px 3px 25px;
    margin-left: 25px;
    margin-right: 25px;
    /* border-style: inset; */
    color: #f7f7f7;
    cursor: pointer;
}
    
.noticeText {
	font-family:sans-serif;
	font-size:200%;
}
.noticeButtonText {
	font-family:sans-serif;
	font-size:200%;
}

[class^="popup-menu"]{
	visibility:hidden;
	/*right:0;*/
        top:48px;
	background-color: #666;
	position:absolute;
	z-index:50;
	/*margin: 15px;*/
	padding: 15px;
	border-radius:10px;
	border-color:white;
	border-width:2;
	border-style:solid;
}
/* Change the background color on mouse-over */
a[class^="popup-item"]:hover {
  background-color: #ddd;
  color: black;
  text-decoration:underline;
}

a[class^="popup-item"] {
  background-color: #555;
  color: white;
}

/* Style the active/current link*/
a[class^="popup-item"]:active {
  background-color: dodgerblue;
  color: white;
}
	
div.mouseCatcher{
    width: 100%;
    height:100%;
		top:0;
		left:0;
    position:absolute;
    z-index : 45; /* under popup zindex; over all else */
    visibility: hidden;
}

.taskManagerFloater {
	position:absolute;
    z-index : 101; /* over all else */
     width:2em;
     height:2em;
     border-radius:0.5em;
     background-image:url('images/taskManagerButton.png');

    border-style: ridge;
    border-color: mediumspringgreen;
    background-color: #15ff0024;
    background-size: cover;
}



.frameContent-alert{
	/* default frameContent */
	margin:5px;
	padding:0.5em;

 	font-size:300%;
 	background-color:#400;
 	width:75vw;
 	height:5em;
 	color:#FFF;
 	/* line-height: 2.5em; */
}

.frameContainer-alert {

	visibility:visible;
	padding:0px;border-color:black;border-width:2px;
	border-style:solid;z-index:100;position:absolute;
	/*left:1024;
	top:25%; */
	width:max-content;
	height:max-content;
	background-color:rgba(150, 150, 150, 0.75);
	color:rgb(33, 0, 29);
	border-radius:10px;
	/*padding:25px;*/
}


.frameContent-notice{
	/* default frameContent */
	margin:5px;
	padding:0.5em;

 	font-size:150%;
 	background-color:#400;
 	width:75vw;
/*     height:5em;*/
 	color:#FFF;
 	/* line-height: 2.5em; */
}

.frameContainer-notice {

	visibility:visible;
	padding:0px;border-color:black;border-width:2px;
	border-style:solid;z-index:100;position:absolute;
	/*left:1024;
	top:25%; */
	width:max-content;
	height:max-content;
	background-color:rgba(150, 150, 150, 0.75);
	color:rgb(33, 0, 29);
	border-radius:10px;
	/*padding:25px;*/
}


.page-frame {
	border:solid 1px black;
	
}


[class^='page-frame-handle-container'] {
	display:flex;
}
[class^='page-frame-page-frame'] {
	display:inline-block;
	vertical-align: top;
}

[class^='page-frame-page-handle'].pressed {
	border-style:inset;
	padding: .6vh 0.6vw;
	margin-bottom: 1vh;
	color:white;
	font-weight:600;
	background: linear-gradient(0deg, rgba(0,241,255,1) 0%, rgba(1,1,61,1) 19%, rgba(0,0,0,1) 43%, rgba(7,46,145,1) 77%, rgba(0,212,255,1) 100%)
}

[class^='page-frame-page-handle'] {
	padding: .6vh 0.6vw;
	border-style:outset;
	margin-bottom: 1vh;
	color:white;
	font-weight:600;
	background: linear-gradient(0deg, rgb(7 1 112) 0%, rgba(9,9,121,1) 23%, rgb(10 131 156) 56%, rgba(7,46,145,1) 77%);;;
}


[class^='page-frame-handle-container-top'] {
	display:block;
	padding:5px;
}

[class^='page-frame-page-frame-top'] {
	display:block;
	vertical-align: top;
}
[class^='page-frame-page-handle-top'] {
	display:inline-block;
	padding:15px;
	border-left:solid 1px black;
}

[class^='page-frame-page-handle-top'] .pressed {
			border-style:inset;
			padding-left:2px;
			padding-top:2px;
			padding-right:0px;
			padding-bottom:0px;

}

[class^="data-grid-table"], [class^="data-grid-row"], td, th {
  color: #FFF;
  border: 1px solid #fff;
  border-collapse: collapse;
  border-spacing: .6vw;
}
[class^="data-grid-table"] {
 margin: 1em 0;
}
[class^="data-grid-header-row"] {
    background-color: #000;  
    margin: 1vh 0;
}

[class^="data-grid-header-sort"] {
	float:right;
}

select:disabled {
	color:#113;
	background:rgba(50, 50, 50);
}

td, th {
  padding: 0 .4em;
  text-align: center;
}

.alert-catcher {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}


.has-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.has-tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.has-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.has-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.editing {
	background-color: #cfc;
	color: #000;
}
